.content-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
.display-name {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #51657b;
}

.avg-temp {
  display: flex;
}
.avg-temp-num {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 70px;
}
.celcius-symbol {
  font-family: "Poppins", sans-serif;
  color: white;
  margin-top: 18px;
  font-size: 22px;
}
.date-interval {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #51657b;
}
.day-temperature-list {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
:host {
  width: 100%;
  height: 100%;
}
.temperature-item {
  margin: 5px 10px;
}

@media screen and (max-width: 450px) {
  .day-temperature-list {
    max-width: 300px;
    justify-content: center;
  }
}
