<div class="container">
  <img class="cloud-icon" [src]="cloudIconPath" />
  <ng-select
    class="custom"
    [(ngModel)]="selectedCode"
    [clearable]="false"
    notFoundText=""
    [searchFn]="customSearchFn"
  >
    <ng-container *ngFor="let code of countryCodes">
      <ng-option *ngIf="hasFlag(code)" [value]="code">
        <span>
          <img class="flag" alt="" [src]="getFlag(code)" />
          <span class="code-value">{{ code }}</span>
        </span>
      </ng-option>
    </ng-container>
  </ng-select>
  <form (submit)="onSubmit()">
    <div class="search">
      <input
        type="text"
        class="input"
        [(ngModel)]="searchTerm"
        name="searchTerm"
        placeholder="Please enter your location"
      />
      <input
        class="mag-glass"
        type="image"
        [style.opacity]="searchTerm ? 1 : 0.5"
        [src]="loading ? loadingPath : magGlassPath"
      />
    </div>
  </form>
</div>
