<div class="content-container" [style.background-image]="backgroundGradient">
  <div class="display-name" *ngIf="displayName">{{displayName}}</div>
  <app-search-bar (searchResultsEvent)="updateTemperatures($event)"></app-search-bar>
  <!-- TODO: Extract the following div into a pipe -->
  <div class="date-interval" *ngIf="searchDone">
    {{today | date:'MMM' | uppercase}}
    {{today | date:'d'}}
    <span *ngIf="!isSameYear(today, nextWeek)">{{today | date:'yyy'}}</span>
    <span> - </span>
    <span *ngIf="!isSameMonth(today, nextWeek)">{{nextWeek | date:'MMM' | uppercase}}</span>
    {{nextWeek | date:'d'}}
    {{nextWeek | date:'yyy'}}
  </div>
  <div class="avg-temp" *ngIf="searchDone">
    <span class="avg-temp-num">{{tempAverage | number: '1.0-0'}}</span>
    <span class="celcius-symbol">&deg;C</span>
  </div>
  <div class="day-temperature-list">
    <div *ngFor="let item of temperatures" class="temperature-item">
      <app-day-temperature-display [temperature]="item.temperature" [dayInWeek]="item.day">
      </app-day-temperature-display>
    </div>

  </div>

</div>
