.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}

ng-select {
  width: 100px;
}
.code-value {
  font-family: "Poppins", sans-serif;
  margin-left: 4px;
  font-weight: 600;
}
.flag {
  border: 1px solid black;
  border-radius: 3px;
  width: 18px;
}
.search {
  position: relative;
  border-radius: 1px;
  text-align: center;
  padding: 0 0 0 10px;
  width: 400px;
}

.ng-select.custom {
  min-height: 50px;
}
.ng-select.custom ::ng-deep .ng-select-container {
  min-height: 50px;
}

.input {
  font-family: "Poppins", sans-serif;
  height: 50px;
  margin: 0;
  padding-right: 30px;
  width: 100%;
}
.mag-glass {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  max-width: 24px;
  right: 8px;
  top: 12px;
  opacity: 1;
  z-index: 2;
}
.search:placeholder-shown .mag-glass {
  opacity: 0.5;
}

.cloud-icon {
  width: 40px;
  margin-bottom: 5px;
  margin-right: 10px;
}

@media screen and (max-width: 450px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .search {
    margin-top: 15px;
    width: 250px;
  }
}
